<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zblog.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.zblog.model.UserRoleKey" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <id column="roleid" property="roleid" jdbcType="INTEGER" />
  </resultMap>

  <select id="getRoleByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from user_role
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zblog.model.UserRoleKey" >
    delete from user_role
    where userid = #{userid,jdbcType=INTEGER}
      and roleid = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zblog.model.UserRoleKey" >
    insert into user_role (userid, roleid)
    values (#{userid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zblog.model.UserRoleKey" >
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>